/* Page default font */
@font-face {
    font-family: "Roboto";
    src: url('./Roboto-Regular.ttf');
}

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: Roboto, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/* Style of left section */
main {
    height: 100vh;

    display: flex;
}

main .left {
    width: 100%;
    flex: 1;

    background: url('./assets/car.jpg') no-repeat left / cover;
}

main .left {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main .left > div {
    background: rgba(0, 0, 0, 50%);
    width: 100%;
    text-align: center;
    margin: 30vh 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

main .left > div > span {
    color: white;
    font-size: 4rem;
}

main .left  img {
    width: 100px;
    color: white;
}

main .left > span {
    position: absolute;
    bottom: 0.5rem;

    color: white;
    font-weight: 100;
}

main .left > span a {
    color: white;
}

/* Style of right section */
main .right {
    width: 100%;
    padding-top: 13rem;
    background: rgb(241, 241, 241);

    flex: 3;
}

main .right p {
    font-size: 1.4rem;
    margin: 0 3rem;
}

main .right p span{
    display: block;
    margin: 2rem 0 3rem;
}

main .right form > div {
    background: white;
    padding: 1rem 0;
}

main .right fieldset {
    width: 100%;
    padding: 0 3rem;

    display: flex;
}

main .right fieldset legend {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

main .right fieldset div * {
    display: block;
    margin-right: 2rem;
}

main .right form label {
    margin: 0.4rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .7rem;
}

main .right form input {
    border: 1px solid gainsboro;
    border-radius: 5px;
    height: 1.5rem;
    width: 15rem;
    padding: 1rem .5rem;
}

main .right form input:focus {
    outline-color: rgb(31, 110, 184);
    transition: .2s;
}

form button {
    padding: .5rem 1.4rem;
    background-color: rgb(122, 129, 134);
    border: none;
    margin: 1rem 3rem;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

form button:hover {
    cursor: pointer;
    filter: brightness(110%);
    transition: .2s;
}

form + span {
    font-weight: normal;
    margin-left: 3rem;
}

form + span a {
    color: rgb(122, 129, 134);
}

form .error {
    color: red;
    font-weight: normal;
    font-size: .7rem;
}

footer img {
    width: 0.7rem;
}